# PostgreSQL
POSTGRES_DB=cinema_db
POSTGRES_DB_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=postgres_cinema

ENVIRONMENT=development

SECRET_KEY=your_secret_key

DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/cinema_db
